{% extends "base.html" %}

{%block title%}
EMAIL
{% endblock  %}


{% block body %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <form action="{%url 'email'%}" method="post">
            {%csrf_token%}
            <input type="text" name="email" placeholder="Enter your email">
            <input type="text" name="subject" placeholder="Enter your subject">
            <input type="text" name="message" placeholder="Enter your message">
            <input type="submit">
        </form>

{% endblock %}